%footer
  .container
    .row
      .col-sm-3.internal
        = link_to 'Uplink',                         localized_path(''), class: 'brand'
        = link_to t(:freelancers, scope: :menu),    localized_path('freelancer')
        = link_to t(:companies, scope: :menu),      localized_path('firmen')
        = link_to t(:imprint, scope: :menu),        localized_path('impressum')
        = link_to t(:terms, scope: :menu),          localized_path('agb')
        = link_to t(:data_privacy, scope: :menu),   localized_path('datenschutz')
        = link_to t(:press_kit, scope: :menu),      localized_path('press-kit')
        = link_to t(:media_coverage, scope: :menu), localized_path('medien')
        = link_to t(:jobs, scope: :menu),           localized_path('jobs')
      .col-sm-6.social
        - %w(linkedin.svg xing.svg twitter.svg facebook.svg instagram.png angellist.png github.png).each do |service|
          = link_to image_tag("social/#{service}", lazy: true), config[:profiles].fetch(service.split('.').first.underscore.to_sym), target: '_blank', rel: 'nofollow'
      .col-sm-3.badges
        = image_tag 'made-in-berlin.png', lazy: true, alt: 'Made in Berlin'
        = image_tag 'vgsd.png', lazy: true, alt: 'VGSD - Verein der Gründer und Selbstständigen Deutschland e.V.'
