%footer
  .container
    .row
      .col-sm-3.internal
        = link_to 'Uplink',          '/', class: 'brand'
        = link_to 'For Freelancers', '/freelancers'
        = link_to 'For Companies',   '/companies'
        = link_to 'Contact',         '/contact'
        = link_to 'Imprint',         '/imprint'
        = link_to 'Press Kit',       '/press-kit'
        = link_to 'Media Coverage',  '/media-coverage'
      .col-sm-6.social
        - %w(linkedin.svg xing.svg twitter.svg facebook.svg google-plus.svg angellist.png).each do |service|
          = link_to image_tag("social/#{service}", lazy: true), t(service.split('.').first, scope: :profiles), target: '_blank'
      .col-sm-3.made-in-berlin
        = image_tag 'made-in-berlin.png', lazy: true, alt: 'Made in Berlin'
