%header
  .bg
  = navbar static: :top do
    = navbar_header brand: 'Uplink', brand_link: localized_path('')
    = navbar_collapse do
      = navbar_group align: 'right' do
        = navbar_item t(:home, scope: :menu),        localized_path('')
        = navbar_item t(:freelancers, scope: :menu), localized_path('freelancer')
        = navbar_item t(:companies, scope: :menu),   localized_path('firmen')
      = navbar_group align: 'right', class: 'super' do
        -# TODO: There must be an easier way to get the template name.
        - template_name = current_resource.source_file[%r(localizable/(.+)\.html\.haml\z), 1]
        = navbar_item localized_path([nil, 'index'].include?(template_name) ? '' : template_name, locale: other_locale) do
          %span.flag-icon{ class: "flag-icon-#{other_locale == :en ? :gb : other_locale}" }
          = t :change_language, scope: :menu
        = navbar_item t(:freelancer_login, scope: :menu), 'https://my.uplink.tech/login',  {}, target: '_blank'
        = navbar_item t(:client_login, scope: :menu),     'https://app.uplink.tech/login', {}, target: '_blank'
  .container
    = yield_content :header
