---
id: companies
classes:
  - summary-page
---

- content_for :header do
  %h1
    = page_title
  %p
    = page_intro
  .vertical-button-group
    = link_to '#freelancer-request', class: 'btn btn-info' do
      %i.far.fa-search
      = t :cta, scope: %i(pages companies)

%section#how-it-works
  .container
    %h2
      = t :headline, scope: %i(pages companies how_it_works)
    .row.columns
      .col-sm-4
        %h3
          1.
          = t :headline, scope: %i(pages companies how_it_works step_1)
        %p
          = t :text, scope: %i(pages companies how_it_works step_1), freelancer_request_form_link: link_to(t(:freelancer_request_form_link_text, scope: %i(pages companies how_it_works step_1)), '#freelancer-request'), email_link: mail_to('hello@uplink.tech', t(:email_link_text, scope: %i(pages companies how_it_works step_1)))
      .col-sm-4
        %h3
          2.
          = t :headline, scope: %i(pages companies how_it_works step_2)
        %p
          = t :text, scope: %i(pages companies how_it_works step_2)
      .col-sm-4
        %h3
          3.
          = t :headline, scope: %i(pages companies how_it_works step_3)
        %p
          = t :text, scope: %i(pages companies how_it_works step_3)

%section#freelancer-request.gray-bg
  .container
    %h2
      = t :headline, scope: %i(pages companies freelancer_request)
    = simple_format t(:text, scope: %i(pages companies freelancer_request), call_link: link_to(t(:call_link_text, scope: %i(pages companies freelancer_request)), 'https://calendly.com/uplink/call', target: '_blank')).html_safe
    = form_tag 'https://api.uplink.tech/job_requests' do
      = hidden_field_tag 'locale', value: locale
      .row
        .col-sm-10.col-sm-offset-1
          - [%i(name email), %i(company phone)].each do |row|
            .row
              - row.each do |field|
                .col-sm-6
                  .form-group
                    - field_tag = field == :email ? :email_field_tag : :text_field_tag
                    = public_send field_tag, field, class: 'form-control', required: %i(name email).include?(field), placeholder: t(field, scope: %i(pages companies freelancer_request form_placeholders))
          .form-group
            %textarea#details.form-control{ name: :details, required: true, placeholder: t(:details, scope: %i(pages companies freelancer_request form_placeholders)) }
          = submit_tag t(:submit), class: 'btn btn-info', data: { loading: t(:please_wait) }
    .note.note-confirm
      %i.far.fa-thumbs-up
      = t :confirm, scope: %i(pages companies freelancer_request form_messages)
    .note.note-error
      %i.far.fa-exclamation-triangle
      = t :error, scope: %i(pages companies freelancer_request form_messages)

%section#techs
  .container
    %h2
      = t :headline, scope: %i(pages companies techs)
    %p
      = markdown t(:text, scope: %i(pages companies techs))
    - config[:tech_images].each_slice(4) do |tech_image_group|
      .row.columns
        - tech_image_group.each do |label, image|
          .col-sm-3
            = image_tag "techs/#{image}", alt: label
    %p
      = t :suffix, scope: %i(pages companies techs)

%section#benefits
  .container
    %h2
      = t :headline, scope: %i(pages companies benefits)
    .row.columns
      .col-sm-6
        %h3
          %i.far.fa-link
          = t :headline, scope: %i(pages companies benefits section_1)
        %p
          = t :text, scope: %i(pages companies benefits section_1)
      .col-sm-6
        %h3
          %i.far.fa-comments
          = t :headline, scope: %i(pages companies benefits section_2)
        %p
          = t :text, scope: %i(pages companies benefits section_2)
    .row.columns
      .col-sm-6
        %h3
          %i.far.fa-briefcase
          = t :headline, scope: %i(pages companies benefits section_3)
        %p
          = t :text, scope: %i(pages companies benefits section_3)
      .col-sm-6
        %h3
          %i.far.fa-code
          = t :headline, scope: %i(pages companies benefits section_4)
        %p
          = t :text, scope: %i(pages companies benefits section_4)
    .row.columns
      .col-sm-6
        %h3
          %i.far.fa-building
          = t :headline, scope: %i(pages companies benefits section_5)
        %p
          = t :text, scope: %i(pages companies benefits section_5)
      .col-sm-6
        %h3
          %i.far.fa-smile
          = t :headline, scope: %i(pages companies benefits section_6)
        %p
          = t :text, scope: %i(pages companies benefits section_6)

%section#testimonial.testimonials.gray-bg
  .container
    .row
      - t(:testimonials, scope: %i(pages companies)).each do |testimonial|
        .col-sm-6
          %p
            = testimonial[:text]
          .author
            = link_to testimonial[:url], target: '_blank' do
              = image_tag "testimonials/#{testimonial[:name].downcase.gsub(/\s+/, '-')}.jpg", alt: testimonial[:name], lazy: true
              = testimonial[:name]
              %br
              = testimonial[:subtitle]

%section#pricing
  .container
    %h2
      = t :headline, scope: %i(pages companies pricing)
    %p
      = markdown t(:text, scope: %i(pages companies pricing))

= partial 'partials/section-about'
