---
id: companies
classes:
  - summary-page
---

- content_for :header do
  %h1
    = page_title
  %p
    = page_intro
  .vertical-button-group
    = link_to '#', class: 'btn btn-info', data: { toggle: 'modal', target: '#freelancer-request-modal' } do
      = icon 'search'
      = t :cta, scope: %i(pages companies)
    = link_to t(:contact_us, scope: %i(pages companies)), '#contact', class: 'btn btn-link'

- content_for :before_content do
  #freelancer-request-modal.modal.fade
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          = link_to '#', class: 'close', data: { dismiss: 'modal' } do
            %span
              &times;
          %h4.modal-title
            = t :text, scope: :freelancer_request_form
        .modal-body
          .typeform-widget{ data: { url: t(:url, scope: :freelancer_request_form), text: t(:text, scope: :freelancer_request_form) } }

%section#how-it-works
  .container
    %h2
      = t :headline, scope: %i(pages companies how_it_works)
    .row.columns
      .col-sm-4
        %h3
          %span.fa-stack
            = icon 'circle', class: 'fa-stack-2x'
            %span.fa-inverse.fa-stack-1x
              1
          = t :headline, scope: %i(pages companies how_it_works step_1)
        %p
          = t :text, scope: %i(pages companies how_it_works step_1), freelancer_request_form_link: link_to(t(:freelancer_request_form_link_text, scope: %i(pages companies how_it_works step_1)), '#', data: { toggle: 'modal', target: '#freelancer-request-modal' }), contact_form_link: link_to(t(:contact_form_link_text, scope: %i(pages companies how_it_works step_1)), '#contact'), email_link: mail_to('hello@uplink.tech', t(:email_link_text, scope: %i(pages companies how_it_works step_1)))
      .col-sm-4
        %h3
          %span.fa-stack
            = icon 'circle', class: 'fa-stack-2x'
            %span.fa-inverse.fa-stack-1x
              2
          = t :headline, scope: %i(pages companies how_it_works step_2)
        %p
          = t :text, scope: %i(pages companies how_it_works step_2)
      .col-sm-4
        %h3
          %span.fa-stack
            = icon 'circle', class: 'fa-stack-2x'
            %span.fa-inverse.fa-stack-1x
              3
          = t :headline, scope: %i(pages companies how_it_works step_3)
        %p
          = t :text, scope: %i(pages companies how_it_works step_3)

%section#techs.gray-bg
  .container
    %h2
      = t :headline, scope: %i(pages companies techs)
    %p
      = markdown t(:text, scope: %i(pages companies techs))
    - config[:tech_images].each_slice(4) do |tech_image_group|
      .row.columns
        - tech_image_group.each do |label, image|
          .col-sm-3
            = image_tag "techs/#{image}", alt: label
    %p
      = t :suffix, scope: %i(pages companies techs)

%section#benefits
  .container
    %h2
      = t :headline, scope: %i(pages companies benefits)
    .row.columns
      .col-sm-6
        %h3
          = icon 'link'
          %br
          = t :headline, scope: %i(pages companies benefits section_1)
        %p
          = t :text, scope: %i(pages companies benefits section_1)
      .col-sm-6
        %h3
          = icon 'comments'
          %br
          = t :headline, scope: %i(pages companies benefits section_2)
        %p
          = t :text, scope: %i(pages companies benefits section_2)
    .row.columns
      .col-sm-6
        %h3
          = icon 'briefcase'
          %br
          = t :headline, scope: %i(pages companies benefits section_3)
        %p
          = t :text, scope: %i(pages companies benefits section_3)
      .col-sm-6
        %h3
          = icon 'code'
          %br
          = t :headline, scope: %i(pages companies benefits section_4)
        %p
          = t :text, scope: %i(pages companies benefits section_4)
    .row.columns
      .col-sm-6
        %h3
          = icon 'building-o'
          %br
          = t :headline, scope: %i(pages companies benefits section_5)
        %p
          = t :text, scope: %i(pages companies benefits section_5)
      .col-sm-6
        %h3
          = icon 'smile-o'
          %br
          = t :headline, scope: %i(pages companies benefits section_6)
        %p
          = t :text, scope: %i(pages companies benefits section_6)

%section#testimonial.testimonials.gray-bg
  .container
    .row
      - t(:testimonials, scope: %i(pages companies)).each do |testimonial|
        .col-sm-6
          %p
            = testimonial[:text]
          .author
            = link_to testimonial[:url], target: '_blank' do
              = image_tag "testimonials/#{testimonial[:name].downcase.gsub(/\s+/, '-')}.jpg", alt: testimonial[:name], lazy: true
              = testimonial[:name]
              %br
              = testimonial[:subtitle]

%section#pricing
  .container
    %h2
      = t :headline, scope: %i(pages companies pricing)
    %p
      = markdown t(:text, scope: %i(pages companies pricing))

= partial 'partials/section-about'

%section#contact.gray-bg
  .container
    %h2
      = t :headline, scope: %i(pages companies contact)
    %p
      = t :text, scope: %i(pages companies contact), freelancer_request_form_link: link_to(t(:freelancer_request_form_link_text, scope: %i(pages companies contact)), '#', data: { toggle: 'modal', target: '#freelancer-request-modal' }), email_link: mail_to('hello@uplink.tech', t(:email_link_text, scope: %i(pages companies contact)))
    = form_tag config[:form_url] do
      = hidden_field_tag '_subject', value: 'Company contact'
      .row
        .col-sm-10.col-sm-offset-1
          .row
            - %i(name email company).each do |field|
              .col-sm-4
                .form-group
                  - field_tag = field == :email ? :email_field_tag : :text_field_tag
                  = public_send field_tag, field, class: 'form-control', required: field != :company, placeholder: t(field, scope: %i(pages companies contact form_placeholders))
          .form-group
            %textarea#message.form-control.white-large{ name: 'message', required: true, placeholder: t(:message, scope: %i(pages companies contact form_placeholders)) }
          = submit_tag t(:submit), class: 'btn btn-info', data: { loading: t(:please_wait) }
    = partial 'partials/form-messages'

/ %section#faq
/   .container
/     %h2
/       FAQ
/     .row.columns
/       .col-sm-6
/         %h3
/           Yadda yadda yadda?
/         %p
/           Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
/           tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
/           quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
/         %h3
/           Yadda yadda yadda?
/         %p
/           Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
/           tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
/           quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
/       .col-sm-6
/         %h3
/           Yadda yadda yadda?
/         %p
/           Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
/           tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
/           quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
/         %h3
/           Yadda yadda yadda?
/         %p
/           Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
/           tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
/           quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
