---
id: companies
classes:
  - summary-page
---

- content_for :header do
  %h1
    = page_title
  %p
    = page_intro
  .vertical-button-group
    = link_to '#freelancer-request', class: 'btn btn-info' do
      %i.far.fa-search
      = t :cta, scope: %i(pages companies)

%section#how-it-works.gray-bg
  .container
    %h2
      = t :headline, scope: %i(pages companies how_it_works)
    .row.columns
      .col-sm-4
        %h3
          1.
          = t :headline, scope: %i(pages companies how_it_works step_1)
        %p
          = t :text, scope: %i(pages companies how_it_works step_1), freelancer_request_form_link: link_to(t(:freelancer_request_form_link_text, scope: %i(pages companies how_it_works step_1)), '#freelancer-request'), email_link: mail_to('hello@uplink.tech', t(:email_link_text, scope: %i(pages companies how_it_works step_1)))
      .col-sm-4
        %h3
          2.
          = t :headline, scope: %i(pages companies how_it_works step_2)
        %p
          = t :text, scope: %i(pages companies how_it_works step_2)
      .col-sm-4
        %h3
          3.
          = t :headline, scope: %i(pages companies how_it_works step_3)
        %p
          = t :text, scope: %i(pages companies how_it_works step_3)

%section#freelancer-request
  .container
    %h2
      = t :headline, scope: %i(pages companies freelancer_request)
    = t :text, scope: %i(pages companies freelancer_request)

    .options.row
      .option.active.col-sm-6
        %h3
          = t :headline, scope: %i(pages companies freelancer_request options one)
        %p
          = t :text, scope: %i(pages companies freelancer_request options one)
      .option.col-sm-6
        %h3
          = t :headline, scope: %i(pages companies freelancer_request options two)
        %p
          = t :text, scope: %i(pages companies freelancer_request options two)

    .row.form-wrapper
      - freelancer_request_form_scope = %i(pages companies freelancer_request form)
      = form_tag 'https://api.uplink.dev/job_requests' do
        = hidden_field_tag 'locale', value: locale
        .col-sm-10.col-sm-offset-1
          - [%i(name email), %i(phone company)].each do |row|
            .row
              - row.each do |field|
                .col-sm-6
                  .form-group
                    - field_tag = field == :email ? :email_field_tag : :text_field_tag
                    = public_send field_tag, field, class: 'form-control', required: %i(name email phone).include?(field), placeholder: t(field, scope: freelancer_request_form_scope)
          .option-fields.active
            .form-group
              = text_field_tag :details, placeholder: t(:details_short, scope: freelancer_request_form_scope), class: 'form-control', required: true
            .form-group
              = text_field_tag :reachability, placeholder: t(:reachability, scope: freelancer_request_form_scope), class: 'form-control', required: true
          .option-fields
            .form-group
              = text_area_tag :details, placeholder: t(:details_long, scope: freelancer_request_form_scope), class: 'form-control', required: true, disabled: true
            .form-group
              = text_field_tag :schedule, placeholder: t(:schedule, scope: freelancer_request_form_scope), class: 'form-control', required: true, disabled: true
            .form-group
              = select_tag :engagement, options: t(:options, scope: freelancer_request_form_scope + %i(engagement)).invert, include_blank: t(:text, scope: freelancer_request_form_scope + %i(engagement)), class: 'form-control', required: true, disabled: true
            .form-group
              = select_tag :remote, options: t(:options, scope: freelancer_request_form_scope + %i(remote)).invert, include_blank: t(:text, scope: freelancer_request_form_scope + %i(remote)), class: 'form-control', required: true, disabled: true
            .form-group
              = select_tag :german_level, options: t(:options, scope: freelancer_request_form_scope + %i(german_level)).invert, include_blank: t(:text, scope: freelancer_request_form_scope + %i(german_level)), class: 'form-control', required: true, disabled: true
          .form-group
            = select_tag :budget, options: t(:options, scope: freelancer_request_form_scope + %i(budget)).invert, include_blank: t(:text, scope: freelancer_request_form_scope + %i(budget)), class: 'form-control', required: true
          = submit_tag t(:submit), class: 'btn btn-info', data: { loading: t(:please_wait) }
      .note.note-confirm.col-sm-10.col-sm-offset-1
        %i.far.fa-thumbs-up
        .option-confirmation.active
          = t :callback, scope: %i(pages companies freelancer_request form confirmation)
        .option-confirmation
          = t :job_post, scope: %i(pages companies freelancer_request form confirmation)
      .note.note-error.col-sm-10.col-sm-offset-1
        %i.far.fa-exclamation-triangle
        = t :error, scope: %i(pages companies freelancer_request form)

%section#techs.gray-bg
  .container
    %h2
      = t :headline, scope: %i(pages companies techs)
    %p
      = markdown t(:text, scope: %i(pages companies techs))
    - config[:tech_images].each_slice(4) do |tech_image_group|
      .row.columns
        - tech_image_group.each do |label, image|
          .col-sm-3
            = image_tag "techs/#{image}", alt: label
    %p
      = t :suffix, scope: %i(pages companies techs)

%section#benefits
  .container
    %h2
      = t :headline, scope: %i(pages companies benefits)
    .row.columns
      .col-sm-6
        %h3
          %i.far.fa-link
          = t :headline, scope: %i(pages companies benefits section_1)
        %p
          = t :text, scope: %i(pages companies benefits section_1)
      .col-sm-6
        %h3
          %i.far.fa-comments
          = t :headline, scope: %i(pages companies benefits section_2)
        %p
          = t :text, scope: %i(pages companies benefits section_2)
    .row.columns
      .col-sm-6
        %h3
          %i.far.fa-briefcase
          = t :headline, scope: %i(pages companies benefits section_3)
        %p
          = t :text, scope: %i(pages companies benefits section_3)
      .col-sm-6
        %h3
          %i.far.fa-code
          = t :headline, scope: %i(pages companies benefits section_4)
        %p
          = t :text, scope: %i(pages companies benefits section_4)
    .row.columns
      .col-sm-6
        %h3
          %i.far.fa-building
          = t :headline, scope: %i(pages companies benefits section_5)
        %p
          = t :text, scope: %i(pages companies benefits section_5)
      .col-sm-6
        %h3
          %i.far.fa-smile
          = t :headline, scope: %i(pages companies benefits section_6)
        %p
          = t :text, scope: %i(pages companies benefits section_6)

%section#testimonial.testimonials.gray-bg
  .container
    .row
      - t(:testimonials, scope: %i(pages companies)).each do |testimonial|
        .col-sm-6
          %p
            = testimonial[:text]
          .author
            = link_to testimonial[:url], target: '_blank' do
              = image_tag "testimonials/#{testimonial[:name].downcase.gsub(/\s+/, '-')}.jpg", alt: testimonial[:name], lazy: true
              = testimonial[:name]
              %br
              = testimonial[:subtitle]

%section#pricing
  .container
    %h2
      = t :headline, scope: %i(pages companies pricing)
    %p
      = markdown t(:text, scope: %i(pages companies pricing))

= partial 'partials/section-about'
