---
id: freelancers
classes:
  - summary-page
---

- content_for :header do
  %h1
    = page_title
  %p
    = page_intro
  .vertical-button-group
    = link_to '#apply', class: 'btn btn-primary' do
      = icon 'user-circle'
      = t :cta, scope: %i(pages freelancers)

= partial 'partials/section-cities'

%section#how-it-works
  .container
    %h2
      = t :headline, scope: %i(pages freelancers how_it_works)
    .row.columns
      .col-sm-4
        %h3
          %span.fa-stack
            = icon 'circle', class: 'fa-stack-2x'
            %span.fa-inverse.fa-stack-1x
              1
          = t :headline, scope: %i(pages freelancers how_it_works step_1)
        %p
          = t :text, scope: %i(pages freelancers how_it_works step_1), link: link_to(t(:link_text, scope: %i(pages freelancers how_it_works step_1)), '#apply')
      .col-sm-4
        %h3
          %span.fa-stack
            = icon 'circle', class: 'fa-stack-2x'
            %span.fa-inverse.fa-stack-1x
              2
          = t :headline, scope: %i(pages freelancers how_it_works step_2)
        %p
          = t :text, scope: %i(pages freelancers how_it_works step_2)
      .col-sm-4
        %h3
          %span.fa-stack
            = icon 'circle', class: 'fa-stack-2x'
            %span.fa-inverse.fa-stack-1x
              3
          = t :headline, scope: %i(pages freelancers how_it_works step_3)
        %p
          = t :text, scope: %i(pages freelancers how_it_works step_3)

%section#benefits
  .container
    %h2
      = t :headline, scope: %i(pages freelancers benefits)
    .row.columns
      .col-sm-6
        %h3
          = icon 'users'
          %br
          = t :headline, scope: %i(pages freelancers benefits section_1)
        %p
          = t :text, scope: %i(pages freelancers benefits section_1)
      .col-sm-6
        %h3
          = icon 'repeat'
          %br
          = t :headline, scope: %i(pages freelancers benefits section_2)
        %p
          = t :text, scope: %i(pages freelancers benefits section_2)
    .row.columns
      .col-sm-6
        %h3
          = icon 'envelope'
          %br
          = t :headline, scope: %i(pages freelancers benefits section_3)
        %p
          = t :text, scope: %i(pages freelancers benefits section_3)
      .col-sm-6
        %h3
          = icon 'map-marker'
          %br
          = t :headline, scope: %i(pages freelancers benefits section_4)
        %p
          = t :text, scope: %i(pages freelancers benefits section_4)
    .row.columns
      .col-sm-6
        %h3
          = icon 'clock-o'
          %br
          = t :headline, scope: %i(pages freelancers benefits section_5)
        %p
          = t :text, scope: %i(pages freelancers benefits section_5)
      .col-sm-6
        %h3
          = icon 'euro'
          %br
          = t :headline, scope: %i(pages freelancers benefits section_6)
        %p
          = t :text, scope: %i(pages freelancers benefits section_6)

%section#testimonial.testimonials.gray-bg
  .container
    .row
      - t(:testimonials, scope: %i(pages freelancers)).each do |testimonial|
        .col-sm-6
          %p
            = testimonial[:text]
          .author
            = link_to testimonial[:url], target: '_blank' do
              = image_tag "testimonials/#{testimonial[:name].downcase.gsub(/\s+/, '-')}.jpg", alt: testimonial[:name], lazy: true
              = testimonial[:name]
              %br
              = testimonial[:subtitle]

%section#pricing
  .container
    %h2
      = t :headline, scope: %i(pages freelancers pricing)
    %p
      = t :text_1, scope: %i(pages freelancers pricing)
    #pricing-badge
      .percentage
        .value
          10%
        = t :monthly, scope: %i(pages freelancers pricing)
      .max
        max.
        .value
          = t :max_period, scope: %i(pages freelancers pricing)
    %p
      = markdown t(:text_2, scope: %i(pages freelancers pricing))

= partial 'partials/section-about'

%section#apply.gray-bg
  .container
    %h2
      = t :headline, scope: %i(pages freelancers apply)
    %p
      = t :text, scope: %i(pages freelancers apply)
    = form_tag 'https://api.uplink.tech/freelancer_requests' do
      = hidden_field_tag 'locale', value: locale
      .row
        .col-sm-10.col-sm-offset-1
          .row
            - %i(name email location).each do |field|
              .col-sm-4
                .form-group
                  - field_tag = field == :email ? :email_field_tag : :text_field_tag
                  = public_send field_tag, field, class: 'form-control', required: true, placeholder: t(field, scope: %i(pages freelancers apply form_placeholders))
          - %i(profiles motivation).each do |field|
            .form-group
              %textarea.form-control{ id: field, name: field, required: true, placeholder: t(field, scope: %i(pages freelancers apply form_placeholders)) }
          .row
            .col-sm-9
              .checkbox
                %label
                  = check_box_tag 'terms', required: true
                  = t :form_confirmation, scope: %i(pages freelancers apply), form_confirmation_terms_link: link_to(t(:form_confirmation_terms, scope: %i(pages freelancers apply)), localized_path('agb'), target: '_blank'), form_confirmation_privacy_link: link_to(t(:form_confirmation_privacy, scope: %i(pages freelancers apply)), localized_path('datenschutz'), target: '_blank')
            .col-sm-3
              = submit_tag t(:submit), class: 'btn btn-primary', data: { loading: t(:please_wait) }
    = partial 'partials/form-messages'

-#%section#faq
-#  .container
-#    %h2
-#      FAQ
-#    .row.columns
-#      .col-sm-6
-#        %h3
-#          Yadda yadda yadda?
-#        %p
-#          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
-#          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
-#          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
-#        %h3
-#          Yadda yadda yadda?
-#        %p
-#          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
-#          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
-#          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
-#      .col-sm-6
-#        %h3
-#          Yadda yadda yadda?
-#        %p
-#          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
-#          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
-#          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
-#        %h3
-#          Yadda yadda yadda?
-#        %p
-#          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
-#          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
-#          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
