---
id: home
changefreq: always
priority: 1.0
---

- content_for :header do
  %h1
    = page_title
  %p
    = page_intro
  .vertical-button-group
    = link_to localized_path('freelancer', fragment: 'apply'), class: 'btn btn-primary' do
      = icon 'user-circle'
      = t :apply_as_freelancer, scope: %i(pages home)
    = link_to "#{t :more_info_for_freelancers, scope: %i(pages home)} &raquo;", localized_path('freelancer'), class: 'btn btn-link'
  .vertical-button-group
    = link_to localized_path('firmen', fragment: 'freelancer-request'), class: 'btn btn-info' do
      = icon 'search'
      = t :find_a_freelancer, scope: %i(pages home)
    = link_to "#{t :more_info_for_companies, scope: %i(pages home)} &raquo;", localized_path('firmen'), class: 'btn btn-link'

= partial 'partials/section-cities'

%section#freelancer-benefits
  .container
    %h2
      = t :headline, scope: %i(pages home freelancer_benefits)
    .row.columns
      .col-sm-6
        %h3.fa-users
          = t :headline, scope: %i(pages home freelancer_benefits section_1)
        %p
          = t :text, scope: %i(pages home freelancer_benefits section_1)
      .col-sm-6
        %h3.fa-repeat
          = t :headline, scope: %i(pages home freelancer_benefits section_2)
        %p
          = t :text, scope: %i(pages home freelancer_benefits section_2)
    .row.columns
      .col-sm-6
        %h3.fa-envelope
          = t :headline, scope: %i(pages home freelancer_benefits section_3)
        %p
          = t :text, scope: %i(pages home freelancer_benefits section_3)
      .col-sm-6
        %h3.fa-link
          = t :headline, scope: %i(pages home freelancer_benefits section_4)
        %p
          = t :text, scope: %i(pages home freelancer_benefits section_4)
    .vertical-button-group
      = link_to localized_path('freelancer', fragment: 'apply'), class: 'btn btn-primary' do
        = icon 'user-circle'
        = t :apply_as_freelancer, scope: %i(pages home)
      = link_to "#{t :more_info_for_freelancers, scope: %i(pages home)} &raquo;", localized_path('freelancer'), class: 'btn btn-link'

%section#freelancer-testimonial.testimonials.gray-bg
  .container
    %p
      = t :text, scope: %i(pages home freelancer_testimonial)
    .author
      = link_to 'http://www.plue.me', target: '_blank' do
        = image_tag 'testimonials/benjamin-scherer.jpg', alt: 'Benjamin Scherer', lazy: true
        Benjamin Scherer
        %br
        = t :subtitle, scope: %i(pages home freelancer_testimonial)

%section#company-benefits
  .container
    %h2
      = t :headline, scope: %i(pages home company_benefits)
    .row.columns
      .col-sm-6
        %h3.fa-link
          = t :headline, scope: %i(pages home company_benefits section_1)
        %p
          = t :text, scope: %i(pages home company_benefits section_1)
      .col-sm-6
        %h3.fa-comments
          = t :headline, scope: %i(pages home company_benefits section_2)
        %p
          = t :text, scope: %i(pages home company_benefits section_2)
    .row.columns
      .col-sm-6
        %h3.fa-briefcase
          = t :headline, scope: %i(pages home company_benefits section_3)
        %p
          = t :text, scope: %i(pages home company_benefits section_3)
      .col-sm-6
        %h3.fa-code
          = t :headline, scope: %i(pages home company_benefits section_4)
        %p
          = t :text, scope: %i(pages home company_benefits section_4)
    .vertical-button-group
      = link_to localized_path('firmen', fragment: 'freelancer-request'), class: 'btn btn-info' do
        = icon 'search'
        = t :find_a_freelancer, scope: %i(pages home)
      = link_to "#{t :more_info_for_companies, scope: %i(pages home)} &raquo;", localized_path('firmen'), class: 'btn btn-link'

%section#company-testimonial.testimonials.gray-bg
  .container
    %p
      = t :text, scope: %i(pages home company_testimonial)
    .author
      = link_to 'http://www.inware.ch', target: '_blank' do
        = image_tag 'testimonials/urs-baumann-inware.jpg', alt: 'Urs Baumann - Inware', lazy: true
        Urs Baumann
        %br
        = t :subtitle, scope: %i(pages home company_testimonial)

= partial 'partials/section-about'

%section#featured-on
  .container
    %h2
      = t :headline, scope: %i(pages home featured_on)
    .logos
      - config[:media_coverage].each do |identifier, details|
        = link_to image_tag("media-coverage/#{identifier}.png"), details.fetch(:link), rel: 'nofollow', target: '_blank'

%section#partners.gray-bg
  .container
    %h2
      = t :headline, scope: %i(pages home partners)
    %p
      = t :text_1, scope: %i(pages home partners)
    .row.columns.list
      .col-sm-4.col-sm-offset-4
        = image_tag 'partners/kontist.png'
        = link_to 'kontist.com', 'https://kontist.com/', rel: 'nofollow', target: '_blank', class: 'small'
        %p
          = t :text, scope: %i(pages home partners kontist)
    %p
      = t :text_2, scope: %i(pages home partners)

%section#blog
  .container
    %h2
      = t :headline, scope: %i(pages home blog)
    .row
      .col-sm-4
        = link_to 'https://blog.uplink.tech/announcing-uplinks-first-partner-kontist-2484d587528e', class: 'post kontist' do
          .header-image
          %h3
            Announcing Uplink’s first partner: Kontist
          .date
            JULY 28, 2017
          %p
            I’m happy to announce that Kontist, a startup based in Berlin that offers banking accounts specifically tailored for freelancers, is the first official partner of Uplink!
          .btn.btn-primary
            = t :read_on, scope: %i(pages home blog)
      .col-sm-4
        = link_to 'https://blog.uplink.tech/whats-in-a-pitch-cc80cefb7cb8', class: 'post pitch' do
          .header-image
          %h3
            What’s in a pitch?
          .date
            JUNE 9, 2017
          %p
            I’m not a big fan of “pitching” your startup — too often it leads to relatively simple and straightforward ideas being described as “disruptive” and “world-changing”, because people look at the pitches of Facebook, AirBnB, Uber...
          .btn.btn-primary
            = t :read_on, scope: %i(pages home blog)
      .col-sm-4
        = link_to 'https://blog.uplink.tech/why-are-many-it-recruiters-technically-completely-incompetent-e924f559ed0e', class: 'post incompetent-recruiters' do
          .header-image
          %h3
            Why are so many IT recruiters technically completely incompetent?
          .date
            MAY 13, 2017
          %p
            There are many problems with IT recruiting nowadays, but one of the most annoying for candidates must be that many recruiters have zero technical knowledge, apart from being able to use a browser, email, LinkedIn, and MS Word...
          .btn.btn-primary
            = t :read_on, scope: %i(pages home blog)
    = link_to "All stories from our blog &raquo;", 'https://blog.uplink.tech/', class: 'btn btn-link'

%section#cta.gray-bg
  .container
    %h2
      = t :headline, scope: %i(pages home cta)
    .vertical-button-group
      = link_to t(:more_info_for_freelancers, scope: %i(pages home)), localized_path('freelancer'), class: 'btn btn-primary'
    .vertical-button-group
      = link_to t(:more_info_for_companies, scope: %i(pages home)), localized_path('firmen'), class: 'btn btn-info'
