---
id: home
changefreq: always
priority: 1.0
---

- content_for :header do
  %h1
    = page_title
  %p
    = page_intro
  .vertical-button-group
    = link_to localized_path('freelancer', fragment: 'apply'), class: 'btn btn-primary' do
      = icon 'user-circle'
      = t :apply_as_freelancer, scope: %i(pages home)
    = link_to "#{t :more_info_for_freelancers, scope: %i(pages home)} &raquo;", localized_path('freelancer'), class: 'btn btn-link'
  .vertical-button-group
    = link_to localized_path('firmen', fragment: 'freelancer-request'), class: 'btn btn-info' do
      = icon 'search'
      = t :find_a_freelancer, scope: %i(pages home)
    = link_to "#{t :more_info_for_companies, scope: %i(pages home)} &raquo;", localized_path('firmen'), class: 'btn btn-link'

= partial 'partials/section-cities'

%section#freelancer-benefits
  .container
    %h2
      = t :headline, scope: %i(pages home freelancer_benefits)
    .row.columns
      .col-sm-6
        %h3.fa-users
          = t :headline, scope: %i(pages home freelancer_benefits section_1)
        %p
          = t :text, scope: %i(pages home freelancer_benefits section_1)
      .col-sm-6
        %h3.fa-repeat
          = t :headline, scope: %i(pages home freelancer_benefits section_2)
        %p
          = t :text, scope: %i(pages home freelancer_benefits section_2)
    .row.columns
      .col-sm-6
        %h3.fa-envelope
          = t :headline, scope: %i(pages home freelancer_benefits section_3)
        %p
          = t :text, scope: %i(pages home freelancer_benefits section_3)
      .col-sm-6
        %h3.fa-heart
          = t :headline, scope: %i(pages home freelancer_benefits section_4)
        %p
          = t :text, scope: %i(pages home freelancer_benefits section_4)
    .vertical-button-group
      = link_to localized_path('freelancer', fragment: 'apply'), class: 'btn btn-primary' do
        = icon 'user-circle'
        = t :apply_as_freelancer, scope: %i(pages home)
      = link_to "#{t :more_info_for_freelancers, scope: %i(pages home)} &raquo;", localized_path('freelancer'), class: 'btn btn-link'

%section#freelancer-testimonial.testimonials.gray-bg
  .container
    %p
      Less than two weeks after joining Uplink I started my first project. Loved the simplicity and straightforwardness of the whole process - a few emails, one phone call and that was it!
    .author
      = link_to 'http://www.plue.me', target: '_blank' do
        = image_tag 'testimonials/benjamin-scherer.jpg', alt: 'Benjamin Scherer', lazy: true
        Benjamin Scherer
        %br
        Full-stack developer

%section#company-benefits
  .container
    %h2
      Our service for companies
    .row.columns
      .col-sm-6
        %h3.fa-link
          Let us be your network
        %p
          Uplink offers instant access to hundreds of mobile, frontend, backend, and full-stack developers. Whether you need someone next week or six months from now, for just a few days or ongoing, we can help you find the right candidate!
      .col-sm-6
        %h3.fa-comments
          Personal introductions
        %p
          We won’t send you a dozen barely relevant profiles and leave you to figure out who can really do the job. Instead, we take our time to understand your requirements and introduce you to the one or two candidates who are the best fit for you.
    .row.columns
      .col-sm-6
        %h3.fa-briefcase
          Vetted professionals
        %p
          We work exclusively with senior developers who have years of freelancing experience, and we vet each freelancer personally so you don’t have to. You can trust that every candidate recommended by us will live up to your highest standards.
      .col-sm-6
        %h3.fa-code
          We are developers, not recruiters
        %p
          Being developers ourselves, we understand your tech stack and development needs. Non-technical recruiters have to try to find candidates with a list of requirements they don’t understand, which is inefficient and error-prone.
    .vertical-button-group
      = link_to localized_path('firmen', fragment: 'freelancer-request'), class: 'btn btn-info' do
        = icon 'search'
        = t :find_a_freelancer, scope: %i(pages home)
      = link_to "#{t :more_info_for_companies, scope: %i(pages home)} &raquo;", localized_path('firmen'), class: 'btn btn-link'

%section#company-testimonial.testimonials.gray-bg
  .container
    %p
      Through Uplink we found three freelancers exactly when we needed them. Each one was a great fit and was available immediately. After trying out several other options in the past, this was the most hassle-free and cost-effective way for us to find qualified freelancers!
    .author
      = link_to 'http://www.inware.ch', target: '_blank' do
        = image_tag 'testimonials/urs-baumann-inware.jpg', alt: 'Urs Baumann - Inware', lazy: true
        Urs Baumann
        %br
        CEO @ Inware AG

= partial 'partials/section-about'

-# %section#articles
-#   .container
-#     %h2
-#       Some interesting articles
-#     .row
-#       .col-sm-4
-#         .article
-#           .header-image{ style: 'background-image: url("http://lorempixel.com/500/200/transport/")' }
-#           %h3
-#             Everything you need to know about finances as a freelancer
-#           %p
-#             Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
-#             tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
-#             quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
-#           = link_to 'Read on', '#', class: 'btn btn-primary'
-#       .col-sm-4
-#         .article
-#           .header-image{ style: 'background-image: url("http://lorempixel.com/500/200/technics/")' }
-#           %h3
-#             Everything you need to know about finances as a freelancer
-#           %p
-#             Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
-#             tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
-#             quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
-#           = link_to 'Read on', '#', class: 'btn btn-primary'
-#       .col-sm-4
-#         .article
-#           .header-image{ style: 'background-image: url("http://lorempixel.com/500/200/people/")' }
-#           %h3
-#             Everything you need to know about finances as a freelancer
-#           %p
-#             Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
-#             tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
-#             quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
-#           = link_to 'Read on', '#', class: 'btn btn-primary'

%section#featured-on
  .container
    %h2
      As featured on
    .logos
      = link_to image_tag('media-coverage/deutsche-startups.png'), config[:media_coverage].fetch(:deutsche_startups), rel: 'nofollow', target: '_blank'
      = link_to image_tag('media-coverage/berlin-valley.png'), config[:media_coverage].fetch(:berlin_valley), rel: 'nofollow', target: '_blank'

%section#cta.gray-bg
  .container
    %h2
      Ready to take the work out of finding work?
    .vertical-button-group
      = link_to t(:more_info_for_freelancers, scope: %i(pages home)), localized_path('freelancer'), class: 'btn btn-primary'
    .vertical-button-group
      = link_to t(:more_info_for_companies, scope: %i(pages home)), localized_path('firmen'), class: 'btn btn-info'
