---
id: home
changefreq: always
priority: 1.0
---

- content_for :header do
  %h1
    = page_title
  %p
    = page_intro
  .vertical-button-group
    = link_to localized_path('freelancer', fragment: 'apply'), class: 'btn btn-primary' do
      = icon 'user-circle'
      = t :apply_as_freelancer, scope: %i(pages home)
    = link_to "#{t :more_info_for_freelancers, scope: %i(pages home)} &raquo;", localized_path('freelancer'), class: 'btn btn-link'
  .vertical-button-group
    = link_to localized_path('firmen', fragment: 'freelancer-request'), class: 'btn btn-info' do
      = icon 'search'
      = t :find_a_freelancer, scope: %i(pages home)
    = link_to "#{t :more_info_for_companies, scope: %i(pages home)} &raquo;", localized_path('firmen'), class: 'btn btn-link'

= partial 'partials/section-cities'

%section#freelancer-benefits
  .container
    %h2
      = t :headline, scope: %i(pages home freelancer_benefits)
    .row.columns
      .col-sm-6
        %h3.fa-users
          = t :headline, scope: %i(pages home freelancer_benefits section_1)
        %p
          = t :text, scope: %i(pages home freelancer_benefits section_1)
      .col-sm-6
        %h3.fa-repeat
          = t :headline, scope: %i(pages home freelancer_benefits section_2)
        %p
          = t :text, scope: %i(pages home freelancer_benefits section_2)
    .row.columns
      .col-sm-6
        %h3.fa-envelope
          = t :headline, scope: %i(pages home freelancer_benefits section_3)
        %p
          = t :text, scope: %i(pages home freelancer_benefits section_3)
      .col-sm-6
        %h3.fa-link
          = t :headline, scope: %i(pages home freelancer_benefits section_4)
        %p
          = t :text, scope: %i(pages home freelancer_benefits section_4)
    .vertical-button-group
      = link_to localized_path('freelancer', fragment: 'apply'), class: 'btn btn-primary' do
        = icon 'user-circle'
        = t :apply_as_freelancer, scope: %i(pages home)
      = link_to "#{t :more_info_for_freelancers, scope: %i(pages home)} &raquo;", localized_path('freelancer'), class: 'btn btn-link'

%section#freelancer-testimonial.testimonials.gray-bg
  .container
    %p
      = t :text, scope: %i(pages home freelancer_testimonial)
    .author
      = link_to 'http://www.plue.me', target: '_blank' do
        = image_tag 'testimonials/benjamin-scherer.jpg', alt: 'Benjamin Scherer', lazy: true
        Benjamin Scherer
        %br
        = t :subtitle, scope: %i(pages home freelancer_testimonial)

%section#company-benefits
  .container
    %h2
      = t :headline, scope: %i(pages home company_benefits)
    .row.columns
      .col-sm-6
        %h3.fa-link
          = t :headline, scope: %i(pages home company_benefits section_1)
        %p
          = t :text, scope: %i(pages home company_benefits section_1)
      .col-sm-6
        %h3.fa-comments
          = t :headline, scope: %i(pages home company_benefits section_2)
        %p
          = t :text, scope: %i(pages home company_benefits section_2)
    .row.columns
      .col-sm-6
        %h3.fa-briefcase
          = t :headline, scope: %i(pages home company_benefits section_3)
        %p
          = t :text, scope: %i(pages home company_benefits section_3)
      .col-sm-6
        %h3.fa-code
          = t :headline, scope: %i(pages home company_benefits section_4)
        %p
          = t :text, scope: %i(pages home company_benefits section_4)
    .vertical-button-group
      = link_to localized_path('firmen', fragment: 'freelancer-request'), class: 'btn btn-info' do
        = icon 'search'
        = t :find_a_freelancer, scope: %i(pages home)
      = link_to "#{t :more_info_for_companies, scope: %i(pages home)} &raquo;", localized_path('firmen'), class: 'btn btn-link'

%section#company-testimonial.testimonials.gray-bg
  .container
    %p
      = t :text, scope: %i(pages home company_testimonial)
    .author
      = link_to 'http://www.inware.ch', target: '_blank' do
        = image_tag 'testimonials/urs-baumann-inware.jpg', alt: 'Urs Baumann - Inware', lazy: true
        Urs Baumann
        %br
        = t :subtitle, scope: %i(pages home company_testimonial)

= partial 'partials/section-about'

%section#featured-on
  .container
    %h2
      = t :headline, scope: %i(pages home featured_on)
    .logos
      - [config[:media_coverage].keys[0..1], config[:media_coverage].keys[2..-1]].each do |media_coverage_key_group|
        .row
          - media_coverage_key_group.each do |identifier|
            = link_to image_tag("media-coverage/#{identifier}.png"), config[:media_coverage][identifier].fetch(:link), rel: 'nofollow', target: '_blank'

%section#partners.gray-bg
  .container
    %h2
      = t :headline, scope: %i(pages home partners)
    %p
      = t :text, scope: %i(pages home partners)
    .row.columns.list
      #debitoor.col-sm-4
        = image_tag 'partners/debitoor.svg'
        = link_to 'debitoor.de', 'https://debitoor.de/', rel: 'nofollow', target: '_blank', class: 'small'
        %p
          = t :text, scope: %i(pages home partners debitoor)
      #kontist.col-sm-4
        = image_tag 'partners/kontist.png'
        = link_to 'kontist.com', 'https://kontist.com/', rel: 'nofollow', target: '_blank', class: 'small'
        %p
          = t :text, scope: %i(pages home partners kontist)
      #exali.col-sm-4
        = image_tag 'partners/exali.png'
        = link_to 'exali.de', 'https://www.exali.de/', rel: 'nofollow', target: '_blank', class: 'small'
        %p
          = t :text, scope: %i(pages home partners exali)

%section#blog
  .container
    %h2
      = t :headline, scope: %i(pages home blog)
    - in_groups_of(data.blog_posts.take(4), 2).each do |blog_post_group|
      .row
        - blog_post_group.each do |blog_post|
          .col-sm-6
            = link_to blog_post.url, class: 'post' do
              .header-image{ style: %(background-image: url("#{blog_post.image}")) }
              %h3
                = blog_post.title
              .date
                = blog_post.date.strftime('%B %e, %Y').upcase
              %p
                = blog_post.content
              .btn.btn-primary
                = t :read_on, scope: %i(pages home blog)
    = link_to "#{t :all_posts, scope: %i(pages home blog)} &raquo;", 'https://blog.uplink.tech/', class: 'btn btn-link'

%section#cta.gray-bg
  .container
    %h2
      = t :headline, scope: %i(pages home cta)
    .vertical-button-group
      = link_to t(:more_info_for_freelancers, scope: %i(pages home)), localized_path('freelancer'), class: 'btn btn-primary'
    .vertical-button-group
      = link_to t(:more_info_for_companies, scope: %i(pages home)), localized_path('firmen'), class: 'btn btn-info'
