---
id: contact
---

- content_for :header do
  %h1
    = page_title
  %p
    = page_intro

%section
  .container
    = form_tag config[:form_url] do
      = hidden_field_tag '_subject', value: 'Contact'
      .row
        .col-lg-6.col-lg-offset-3
          .form-group
            = text_field_tag 'name', class: 'form-control', required: true, placeholder: 'Your name'
          .form-group
            = email_field_tag 'email', class: 'form-control', required: true, placeholder: 'Your email'
          .form-group
            %textarea#message.form-control.autosize{ name: 'message', rows: 1, required: true, placeholder: 'Your message' }
          = submit_tag 'Submit', class: 'btn btn-primary', data: { loading: 'Please wait...' }
    = partial 'partials/form-messages'
