---
id: media-coverage
---

- content_for :header do
  %h1
    = page_title

%section
  .container
    - config[:media_coverage].each do |identifier, details|
      .row
        .col-sm-8.col-sm-offset-2
          .item
            = image_tag "media-coverage/#{identifier}.png"
            %p
              == "#{details.fetch(:text)}"
            = link_to 'Link', details.fetch(:link), rel: 'nofollow', target: '_blank'
