---
id: press-kit
---

- content_for :header do
  %h1
    = page_title
  %p
    = page_intro

%section
  .container
    %iframe{ src: "https://drive.google.com/embeddedfolderview?id=#{config[:press_kit_google_drive_folder_id]}#grid" }
    = link_to t(:open_google_drive_folder, scope: %i(pages press_kit)), "https://drive.google.com/drive/folders/#{config[:press_kit_google_drive_folder_id]}", class: 'btn lg btn-primary', rel: 'nofollow', target: '_blank'
