---
classes:
  - city
---

- @id               = city_id
- @page_title       = city_data.fetch(:"#{locale}.title")
- @page_description = city_data.fetch(:"#{locale}.description")
- @page_intro       = 'Intro'


- content_for :header do
  %h1
    = page_title
  %p
    = page_intro
  = link_to '#contact', class: 'btn btn-primary' do
    = t :cta, scope: %i(pages city)

%p
  = t :secondary_intro, scope: %i(pages city)
