---
id: companies
---

%header
  .container
    %h1
      Companies

%section.section-gray
  .container
    %p.lead
      %strong
        Are you a Berlin-based company looking for freelance developers?
      %br
      Do you have trouble finding good candidates and does it seem like all the good developers are always busy? We can help!

%section
  .container
    .row

      .col-sm-6
        %p
          There are a lot of freelance developers out there looking for new challenges. Tell us a bit about your company and project and we will put you in touch with developers that are a good fit!

      .col-sm-6
        = form_tag t(:form_url) do
          = hidden_field_tag '_subject', value: 'New company'
          .form-group
            = label_tag 'name', caption: 'Your name'
            = text_field_tag 'name', id: 'name', class: 'form-control', required: true, placeholder: 'Jane Doe'
          .form-group
            = label_tag 'email', caption: 'Your email'
            = email_field_tag 'email', id: 'email', class: 'form-control', required: true, placeholder: 'your@email.com'
          .form-group
            = label_tag 'website', caption: 'Your website'
            = text_field_tag 'website', id: 'website', class: 'form-control', required: true, placeholder: 'www.yourcompany.com'
          .form-group
            = label_tag 'techs', caption: 'Which technologies do you work with?'
            = text_field_tag 'techs', id: 'techs', class: 'form-control', required: true, placeholder: 'Ruby, Rails, PHP, Node.js, ...'
          = submit_tag 'Submit', class: 'btn btn-lg btn-primary', data: { :'loading-text' => 'Please wait...' }
          %p.note
            We will keep all your data confidential, not create any profile page for your company, and never forward your data to anyone without your consent!
        .alert.alert-success
          Thanks! We'll be in touch with you shortly!
        .alert.alert-danger
          Uh-oh! Something went wrong... please try again!
