---
id: home
changefreq: always
priority: 1.0
---

%header
  .container
    %h1
      Connecting top freelance developers with great companies in Berlin
    %p.lead
      Uplink helps Berlin's best freelance developers to find local companies with interesting projects! We handpick the best freelance developers in town and match them with companies looking for their expertise.

.container

  %section
    %p.lead
      Forget clueless recruiters who don't even read your profile.
      %br
      We personally talk to people from each company and only take on those that offer freelancers great opportunities!

  %section
    %h2
      Join us!
    %p
      Are you a freelance developer looking for new projects in Berlin?
      %br
      Contact us via the form below and we will be in touch via email shortly.
      %br
      If you're not looking for a project right now but in a few weeks or month, let us know and we will contact you with offers then.

      = form_tag '//formspree.io/hello@uplink.tech' do
        = hidden_field_tag '_subject', value: 'New developer'
        .form-group
          = label_tag 'email', caption: 'Your email'
          = email_field_tag 'email', id: 'email', class: 'form-control', required: true, placeholder: 'your@email.com'
        .form-group
          = label_tag 'techs', caption: 'What technologies would you like to work with?'
          = text_field_tag 'techs', id: 'techs', class: 'form-control', required: true, placeholder: 'e.g. Ruby, Rails, PHP, node.js...'
        .form-group
          = label_tag 'availability', caption: 'When are you available?'
          = text_field_tag 'availability', id: 'availability', class: 'form-control', required: true, placeholder: 'e.g. immediately, next month, from June on...'
        = submit_tag 'Submit', class: 'btn btn-lg btn-primary', data: { :'loading-text' => 'Please wait...' }

      .alert.alert-success
        Thanks! We'll be in touch with you shortly!

      .alert.alert-danger
        Uh-oh! Something went wrong... please try again!

  %section
    %h2
      How much does it cost?
    %p
      Uplink is free for developers!
      %br
      We take a small success fee from companies if they find a developer with our help.

  %section
    %h2
      For companies
    %p
      Are you a company in Berlin looking for freelance developers, either to supplement your existing development team or to quickly build a web or mobile app without the need to hire full-time employees?
      %br
      Do you have trouble finding good candidates and does it seem like all the good freelancers are always busy?
      %br
      Get in touch with us!
      %br
      There are a lot of freelance developers out there looking for new challenges! Tell us a bit about your company and project and we will put you in touch with developers that are a good fit!

  %section
    %h2
      Contact
    %p
      For all other enquiries please use the form below.
