!!!

%html

  %head

    %meta{ charset: 'utf-8' }

    %meta{ :'http-equiv' => 'X-UA-Compatible',  content: 'IE=edge,chrome=1' }
    %meta{ :'http-equiv' => 'Content-Type',     content: 'text/html; charset=utf-8' }

    %meta{ name: 'title',                       content: page_title }
    %meta{ name: 'description',                 content: page_description }
    %meta{ name: 'viewport',                    content: 'width=device-width, initial-scale=1' }

    %meta{ property: 'fb:app_id',               content: '976087102476399' }
    %meta{ property: 'og:type',                 content: 'website' }
    %meta{ property: 'og:url',                  content: host + current_page.url }
    %meta{ property: 'og:title',                content: page_title }
    %meta{ property: 'og:description',          content: page_description }
    %meta{ property: 'og:image',                content: host + image_path("bg/#{current_page.data.id}.jpg") }

    %link{ rel: 'publisher',        href: 'https://plus.google.com/+ManuelMeurer' }
    %link{ rel: 'canonical',        href: host + current_page.url }
    %link{ rel: 'apple-touch-icon', href: image_path('icons/apple-icon-57x57.png'),     sizes: '57x57'   }
    %link{ rel: 'apple-touch-icon', href: image_path('icons/apple-icon-60x60.png'),     sizes: '60x60'   }
    %link{ rel: 'apple-touch-icon', href: image_path('icons/apple-icon-72x72.png'),     sizes: '72x72'   }
    %link{ rel: 'apple-touch-icon', href: image_path('icons/apple-icon-76x76.png'),     sizes: '76x76'   }
    %link{ rel: 'apple-touch-icon', href: image_path('icons/apple-icon-114x114.png'),   sizes: '114x114' }
    %link{ rel: 'apple-touch-icon', href: image_path('icons/apple-icon-120x120.png'),   sizes: '120x120' }
    %link{ rel: 'apple-touch-icon', href: image_path('icons/apple-icon-144x144.png'),   sizes: '144x144' }
    %link{ rel: 'apple-touch-icon', href: image_path('icons/apple-icon-152x152.png'),   sizes: '152x152' }
    %link{ rel: 'apple-touch-icon', href: image_path('icons/apple-icon-180x180.png'),   sizes: '180x180' }
    %link{ rel: 'icon',             href: image_path('icons/android-icon-192x192.png'), sizes: '192x192', type: 'image/png' }
    %link{ rel: 'icon',             href: image_path('icons/favicon-32x32.png'),        sizes: '32x32',   type: 'image/png' }
    %link{ rel: 'icon',             href: image_path('icons/favicon-96x96.png'),        sizes: '96x96',   type: 'image/png' }
    %link{ rel: 'icon',             href: image_path('icons/favicon-16x16.png'),        sizes: '16x16',   type: 'image/png' }

    %title
      = page_title

    = stylesheet_link_tag :site

    = partial 'partials/scripts'

  %body{ id: current_page.data.id }
    = partial 'partials/header'
    = yield_content :before_content
    %main
      = yield
    = partial 'partials/footer'
    = partial 'partials/cookie-bar'
    = javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js'
    = javascript_include_tag :site
